<div id="concerts" class="container" style="padding: 60px 15px 0">
  <div class="page-header">
    <h1 >Concerts</h1>
  </div>
  
  <p class="lead">New gig coming up? <%= link_to 'Click here', new_band_concert_path(@band) %> to add a new concert!</p>
  
  <div class="spacer"></div>
  
  <h2>Upcoming concerts</h2>
  <% if @band.next_concerts.empty? %>
    <p>No upcoming concerts.</p>
  <% else %>
    <ul>
    <% @band.next_concerts.each do |concert| %>
      <%= link_to band_concert_path(concert.band.id, concert.id) do %>
        <li><h2><%= concert.date %> - <%= concert.name %> at <%= concert.venue %></h2></li>
      <% end %>
    <% end %>  
    </ul>
  <% end %>
  
  <div class="spacer"></div>
  
  <h2>Past concerts</h2>
  <% if @band.past_concerts.empty? %>
    <p>No previous concerts.</p>
  <% else %>
    <ul>
    <% @band.past_concerts.each do |concert| %>
      <%= link_to band_concert_path(concert.band.id, concert.id) do %>
        <li><h2><%= concert.date %> - <%= concert.name %> at <%= concert.venue %></h2></li>
      <% end %>
    <% end %>  
    </ul>
  <% end %>
</div>