<h1 class="page-header">
  <%= @concert.name %>
  <%= link_to edit_band_concert_path(@band, @concert) do %>
    <button class="btn btn-primary btn-lg pull-right">Edit</button>
  <% end %>
</h1>
<div id="concert">
  <div id="setlist_page row">
    <div class="col-sm-6">
      <% if @concert.setlist == nil %>
        <div class="row">
          <p class="lead">No setlist for this concert yet.</p>
        </div>
        <div class="row text-center"> 
          <%= link_to setlist_builder_path do %>
            <button class="btn btn-primary btn-lg">Setlist builder</button>
          <% end %>
        </div>
      <% else %>
        <div class="setlist_content">
          <ul class="list-unstyled setlist_paper">
            <% @concert.setlist.songs.order(:artist, :title).each do |s| %>
              <li class="setlist_song">
                <p>
                  <%= link_to band_song_path(@band, s) do %>
                    <%= s.artist %> - <%= s.title %>
                  <% end %>
                  <span class="glyphicon glyphicon-remove remove-song-hook" data-toggle="modal" 
                    data-target="#confirm_delete_song_div" data-song-id="<%=s.id%>" 
                    data-title="<%=s.title%>" aria-hidden="true">
                  </span>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
          
        <h3 style="margin-top: 25px;">
          <em>
            <strong style="color: rgb(51, 122, 183)"><%= @concert.setlist.count %></strong> <%= @concert.setlist.count > 1 ? 'songs' : 'song' %>.
          </em>
        </h3>
      <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-2">      
      <p class="lead">
        <strong>Event name:</strong> <%= @concert.name %>
      </p>
      <p class="lead">
        <strong>Date:</strong> <%= @concert.date %>
      </p>
      <p class="lead">
        <strong>Venue:</strong> <%= @concert.venue %>
      </p>
      <p class="lead">
        <strong>Time:</strong> <%= time_format(@concert.time) %>
      </p>
      <p class="lead">
        <strong>Concert duration:</strong> <%= str_minutes_to_hours(@concert.duration) %>
      </p>
      <p class="lead">
        <strong>Payment:</strong> <%= str_payment_type(@concert) %>
      </p>
      <p class="lead">
        <strong>Ticket Price:</strong> $ <%= @concert.ticket_price %>
      </p>
      
      <div class="concert_flyer">
        <%= render partial: 'flyer', locals: { concert: @concert, size: '200' } %>
      </div>
      <% if @concert.flyer.url != nil %>
        <%= link_to @concert.flyer.url do %>
          <div class="row">
            <div class="col-sm-12 text-center">
              <p>View full size</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>    
  </div>
</div>