<h1 class="page-header">
  <%= @concert.name %>
  <%= link_to edit_band_concert_path(@band, @concert) do %>
    <button class="btn btn-primary btn-lg pull-right">Edit</button>
  <% end %>
</h1>
<div id="concert">
  <div id="setlist_page row">
    <div class="col-sm-6">
      <% if @concert.setlist == nil or @concert.setlist.count == 0 %>
        <div class="row">
          <p class="lead">No setlist for this concert yet.</p>
        </div>
        <div class="row text-center"> 
          <%= link_to setlist_builder_path do %>
            <button class="btn btn-primary btn-lg">Setlist builder</button>
          <% end %>
        </div>
      <% else %>
        <div class="setlist_content">
          <ul class="list-unstyled setlist_paper">
            <% @concert.setlist.setlist_songs.order(:pos).each do |s| %>
              <li class="setlist_song">
                <p>
                  <%= link_to band_song_path(@band, s.song.id) do %>
                    <%= s.song.artist %> - <%= s.song.title %>
                  <% end %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="row text-center export_div">
          <div class="btn-group col-sm-12">
            <%= link_to setlist_export_lyrics_path(@band, @concert) do %>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Export Lyrics
            <% end %>
            <%= link_to setlist_concert_generate_playlist_path(@band, @concert) do %>
              <span class="glyphicon glyphicon-music generate-playlist" aria-hidden="true"></span>  Generate Spotify Playlist
            <% end %>
          </div>
        </div>

        <h3 style="margin-top: 25px;">
          <em>
            <strong style="color: rgb(51, 122, 183)"><%= @concert.setlist.count %></strong> <%= @concert.setlist.count > 1 ? 'songs' : 'song' %>.
          <% if @concert.setlist.running_time > 0 %>
            <strong style="color: rgb(51, 122, 183)"><%= seconds_to_hms(@concert.setlist.running_time) %></strong>.
          <% end %>
          </em>
        </h3>

        <div class="row text-center">
          <%= link_to setlist_builder_path do %>
            <button class="btn btn-primary btn-lg">Setlist builder</button>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <p class="lead">
        <strong>Event name:</strong> <%= @concert.name %>
      </p>
      <p class="lead">
        <strong>Date:</strong> <%= @concert.date %>
      </p>
      <p class="lead">
        <strong>Venue:</strong> <%= @concert.venue %>
      </p>
      <p class="lead">
        <strong>Time:</strong> <%= time_format(@concert.time) %>
      </p>
      <p class="lead">
        <strong>Concert duration:</strong> <%= str_minutes_to_hours(@concert.duration) %>
      </p>
      <p class="lead">
        <strong>Payment:</strong> <%= str_payment_type(@concert) %>
      </p>
      <p class="lead">
        <strong>Ticket Price:</strong> $ <%= @concert.ticket_price %>
      </p>
      <% if !@concert.setlist.nil? and @concert.setlist.spotify_playlist_url.present? %>
      <p class="lead">
      <%= link_to @concert.setlist.spotify_playlist_url, target: '_blank' do %>
        <strong>Open Spotify Playlist</strong>
      <% end %>
      </p>
      <% end %>
      <div class="concert_flyer">
        <%= render partial: 'flyer', locals: { concert: @concert, size: '200' } %>
      </div>
      <% if @concert.flyer.url != nil %>
        <%= link_to @concert.flyer.url do %>
          <div class="row">
            <div class="col-sm-12 text-center">
              <p>View full size</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>