<h1 class="page-header">
  <%= @concert.name %> at <%= @concert.venue %> - <%= @concert.date %>
  <%= link_to edit_band_concert_path(@band, @concert) do %>
    <button class="btn btn-primary btn-lg pull-right">Edit</button>
  <% end %>
</h1>
<div id="concert">
  <div class="row">
    <div class="col-sm-3">
      <div class="concert_flyer">
        <%= render partial: 'flyer', locals: { concert: @concert, size: '600' } %>
      </div>
    </div>
  </div>
</div>