<h1 class="page-header">Songs</h1>

<div class="band_songs row">
  <div class="col-sm-12">
    <p class="lead">Song database including both songs in the setlist and suggestions.</p>
    
    <% if @band.has_songs_with_missing_info %>
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-warning" role="alert">
            <p>
              At least one song here has missing information, like song duration, lyrics or media URLs.
              We can <strong><%= link_to 'try to find this data automatically!', band_song_batch_find_media_path(@band) %></strong>
            </p>
            <p>
              If you already tried that and still see this message, you can look for the songs marked with 
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> and fill the missing fields manually. 
            </p>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if @songs.empty? %>
      <p>
        No songs yet! Try adding songs to the <%= link_to 'setlist', band_master_setlist_path(@band) %>.
      </p>
    <% else %>
      <div class="song_list">
        <ul>
          <% @songs.order(:artist, :title).each do |s| %>
            <%= link_to band_song_path(@band.id, s.id) do %>
              <li>
                <% if s.missing_crawlable_media %>
                  <%= label_for_discoverable_field("#{s.artist} - #{s.title}") %>
                <% else %>
                  <%= s.artist %> - <%= s.title %>
                <% end %>  
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <h3 style="margin-top: 25px;">
        <em>
          <strong style="color: rgb(51, 122, 183)"><%= @songs.count %></strong> <%= @songs.count > 1 ? 'songs' : 'song' %>.
        </em>
      </h3>
    <% end %>
  </div>
</div>