<h1 class="page-header">Database statistics</h1>

<div class="row">
  <div class="col-sm-12">  
    <ul>
      <li>
        <p class="lead">
          <strong><%= @user_count %></strong> users.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @band_count %></strong> bands.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @contract_count %></strong> contracts.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @song_count %></strong> songs.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @concert_count %></strong> concerts.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @setlist_count %></strong> setlists.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @setlist_song_count %></strong> setlist_songs.
        </p>
      </li>
      
      <li>
        <p class="lead">
          <strong><%= @audit_count %></strong> audits.
        </p>
      </li>
    </ul>
    
    <hr>
    
    <p class="lead">
      Total: <strong><%= @total %></strong> database rows.
    </p>
  </div>
</div>