<% content_for :custom_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.remove-song-hook').hide();
    
      $('.setlist_song').hover(
        function(){ $(this).find('.remove-song-hook').show(); },
        function(){ $(this).find('.remove-song-hook').hide(); }
      );
      
      $('#add_new_song_div').on('show.bs.modal', function (event) {
        $('#artist').val('');
        $('#title').val('');
      });
      
      $('#add_new_song_div').on('shown.bs.modal', function (event) {
        $('#artist').focus();
      });
      
      $('#add_batch_div').on('show.bs.modal', function (event) {
        $('#batch').val('');
      });
      
      $('#add_batch_div').on('shown.bs.modal', function (event) {
        $('#batch').focus();
      });
      
      $('#confirm_delete_song_div').on('show.bs.modal', function(event){
        var target = $(event.relatedTarget);
        var bandId = $('#band-id').attr('value');
        var songId = target.data('song-id');
        var songTitle = target.data('title');

        $('#songToRemove').text(songTitle);
        $(this).find('form').attr('action', Routes.remove_song_from_setlist_path(bandId, songId));
      });
      
      var hasError = $('.has-error').length != 0;
      if (hasError) {
        $('#add_new_song_div').modal();
      }
    });
  </script>
<% end %>

<div id="setlist_page" class="container" style="padding: 60px 15px 0">
  <div class="page-header">
    <h1>Setlist</h1>
  </div>

  <div class="setlist_actions pull-right text-center">
    <p>
      <em>Missing something? Use the buttons below!</em>
    </p>
    <button id="add_song_hook" class="btn btn-primary" data-toggle="modal" data-target="#add_new_song_div">Add a song</button>
    <p style="margin-top:10px;">or</p>
    <button id="add_batch_hook" class="btn btn-success" data-toggle="modal" data-target="#add_batch_div">Add a batch of songs</button>
  </div>
  
  <% if @setlist.empty? %>
    <p class="lead" id="empty_setlist_msg">
      The setlist is empty! Try adding songs below.
    </p>
  <% else %>
    <div class="setlist_content">
      <ul class="list-unstyled setlist_paper">
        <% @setlist.songs.order(:artist, :title).each do |s| %>
          <li class="setlist_song">
            <h3>
              <%= s.artist %> - <%= s.title %>
              <span class="glyphicon glyphicon-remove remove-song-hook" data-toggle="modal" 
                data-target="#confirm_delete_song_div" data-song-id="<%=s.id%>" 
                data-title="<%=s.title%>" aria-hidden="true">
            </h3>
          </span>
          </li>
        <% end %>
      </ul>
    </div>
    
    <h3 style="margin-top: 25px;">
      <em>
        <strong style="color: rgb(51, 122, 183)"><%= @setlist.count %></strong> <%= @setlist.count > 1 ? 'songs' : 'song' %>.
      </em>
    </h3>
  <% end %>  
  
  <div id="add_new_song_div" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a song</h4>
        </div>
        <%= bootstrap_form_for @new_song, url: add_song_to_setlist_path do |f| %>
          <div class="modal-body">
            <%= f.text_field :artist, id: 'artist', tabindex: "1" %>
            <%= f.text_field :title, id: 'title', tabindex: "2" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="4">Close</button>
            <%= f.button 'Add song', :class=> 'btn btn-primary', :tabindex => "3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="confirm_delete_song_div" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <%= bootstrap_form_tag do |f| %>
          <div class="modal-body">
            <p>Are you sure you want to remove <strong><em id="songToRemove"></em></strong> from the setlist?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="2">Cancel</button>
            <%= f.button 'Remove song', :class=> 'btn btn-danger', :id => 'btn-remove-song', :tabindex => "1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="add_batch_div" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a batch of songs</h4>
        </div>
        <%= bootstrap_form_tag url: add_batch_to_setlist_path do |f| %>
          <div class="modal-body">
            <p>With this tool you can add a lot of songs with just one click!</p>
            <p>Insert below the list of songs. Please follow the following rules:</p>
            <ul>
              <li>One song per line</li>
              <li>Format: <strong>Artist - Title</strong> (don't forget the spaces before and after the dash)</li>
            </ul>
            <%= f.text_area :batch, rows: "10", tabindex: "1" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="2">Cancel</button>
            <%= f.button 'Add batch', :class=> 'btn btn-primary', :id => 'btn-add-batch', :tabindex => "1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>