<h1 class="page-header">Edit band details</h1>

<div class="edit_band">
  <p class="lead">
  Here you can edit some basic info about the band, and also upload your cool logo!
  </p>

  <%= bootstrap_form_for @band, url: band_path, method: :patch, html: { multipart: true } do |f| %>
    <%= f.text_field :name, id: 'name' %>
    <%= f.text_field :genre, id: 'genre' %>
    <%= f.text_area :release, id: 'release', rows: 8 %>
    <%= f.file_field :logo, id: 'logo' %>
    <%= f.check_box :band_complete, id: 'band_complete', label: "The band is complete (if checked, this will hide the invite box from the band's page)" %>
    <br/>
    <%= f.button 'Save', :class=> 'btn btn-primary' %>
  <% end %>
</div>