<div class="container-fluid band_invite">
  <h1 class="page-header text-center"><%= @band.name %></h1>

  <div class="row text-center">
    <div class="col-sm-12">
      <%= render partial: 'band/logo', locals: { band: @band, size: '200' } %>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-sm-12">
      <div class="invite_content text-center">
        <p></p>
        <p class="lead">You have been invited to join <strong><%=@band.name%></strong>!</p>
        <p class="lead">Select your role below and press the button below to confirm you're a member.</p>
        <p class="role_select text-center">
          <%= bootstrap_form_for @contract, url: band_request_access_path(@band.id) do |f| %>
              <%= f.collection_select :instrument, Contract::INSTRUMENTS, :value, :label, {hide_label: true}, {class: 'form-control', id: 'instrument', style: "width:auto; display: inline-block;"}%>
            <br/>
            <%= f.button 'Request access', :class=> 'btn btn-success btn-lg' %>
          <% end %>
        </p>
    
        <p class="lead">Your access will be granted once some other member approves you.</p>
      </div>
    </div>
  </div>  
  
</div>