<div class="container" style="padding: 60px 15px 0">
  <div class="page-header">
    <h1>Create a new band</h1>
  </div>

  <p class="lead">
  Tell us the name of your band and what instrument do you play in it.
  </p>

  <%= bootstrap_form_for @band, url: band_index_path do |f| %>
    <%= f.text_field :name, class: 'form-control', id: 'name' %>
    <% for contract in @band.contracts %>
      <%= fields_for "band[contract_attributes][]", contract do |c| %>
          <%= c.label :instrument %>
          <%= c.collection_select :instrument, Contract::INSTRUMENTS, :value, :label, {}, {class: 'form-control', id: 'instrument'}%>
      <% end %>
    <% end %>
    <br/>
    <%= f.button 'Create band', :class=> 'btn btn-primary' %>
  <% end %>
</div>