<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="page-header"><%= t :create_band_title %></h1>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-offset-4 col-md-4">
      <p class="lead">
      <%= t :create_band_lead %>
      </p>

      <%= bootstrap_form_for @band, url: band_index_path do |f| %>
        <%= f.text_field :name, id: 'name' %>
        <% for contract in @band.contracts %>
          <%= fields_for "band[contract_attributes][]", contract do |c| %>
              <%= c.label :instrument %>
              <%= c.collection_select :instrument, instruments_dropdown, :value, :label, {}, {class: 'form-control center-block', id: 'instrument', style: "width:auto;"}%>
          <% end %>
        <% end %>
        <br/>
        <%= f.button t(:create_band_btn), :class=> 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>