<div class="container band_page" style="padding: 60px 15px 0">
  <div class="page-header text-center">
    <h1><%= @band.name %></h1>
  </div>
  
  <div class="band_members container row">
    <% @band.contracts.each do |contract| %>
      <div class="member_box col-md-2 text-center">
        <div class="member_pic text-center">
          <%= image_tag profile_pic('small', contract.user.uid) %>
        </div>
        <h3><%= contract.user.name %></h3>
        <p style="color: green;"><em><%= Contract::INSTRUMENTS[contract.instrument] %></em></p>
      </div>
    <% end %>
      <div class="member_box invite_box col-md-2 text-center">
        <div class="member_pic text-center">
          <span class="glyphicon glyphicon-user invite_member_hook" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-plus invite_member_hook" aria-hidden="true"></span>
        </div>
        <div class="invite_member_text">
          <p><em>Missing someone?
          <p>Invite them to join the band!</em></p>
        </div>
      </div>
  </div>
  
  <div class="band_summary container">
      <p class="lead"><strong><%= @band.setlist.count %></strong> songs in the setlist.</p>
      <p class="lead">No upcoming concerts.</p>
      <p class="lead">No upcoming rehearsals.</p>
  </div>
</div>