<% content_for :custom_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.invite_mouse_on').hide();
      
      $('.invite_box').hover(
        function(){ 
          $(this).addClass('invite_box_hover'); 
          $('.invite_mouse_off').hide();
          $('.invite_mouse_on').show();
        },
        function(){
          $(this).removeClass('invite_box_hover'); 
          $('.invite_mouse_off').show();
          $('.invite_mouse_on').hide();
        }
      );
      
      $('#invite_member_div').on('show.bs.modal', function (event) {
        $('#emails-tokenfield').val('');
        $('.token').remove();
      });
      
      $('#invite_member_div').on('shown.bs.modal', function (event) {
        $('#emails-tokenfield').focus();
      });
      
      $('#emails').tokenfield();
      $('#emails').css('width', '100%');
    });
  </script>
<% end %>

<div class="container band_page" style="padding: 60px 15px 0">
  <div class="page-header text-center">
    <h1><%= @band.name %></h1>
  </div>
  
  <div class="band_members container row">
    <% @band.contracts.each do |contract| %>
      <div class="member_box col-md-2 text-center">
        <div class="member_pic text-center">
          <%= image_tag profile_pic('small', contract.user.uid) %>
        </div>
        <h3><%= contract.user.name %></h3>
        <p style="color: green;"><em><%= Contract::INSTRUMENTS[contract.instrument] %></em></p>
      </div>
    <% end %>
      <div class="member_box invite_box col-md-2 text-center" data-toggle="modal" data-target="#invite_member_div">
        <div class="member_pic text-center">
          <div class="invite_mouse_off">
            <span class="glyphicon glyphicon-user invite_member_hook" aria-hidden="true"></span>
            <div class="invite_member_text">
              <p><em>Missing someone?
              <p>Invite them to join the band!</em></p>
            </div>
          </div>
          <div class="invite_mouse_on">
            <span class="glyphicon glyphicon-plus invite_member_hook" aria-hidden="true"></span>
          </div>
        </div>
      </div>
  </div>
  
  <div id="invite_member_div" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Invite members</h4>
        </div>
        <%= bootstrap_form_tag url: invite_path(:id => @band.id) do |f| %>
          <div class="modal-body">
            <p>Invite the other members of the band to join Setlistr!</p>
            <p>Please enter their email addresses and they will be invited to join your band.</p>
            <%= f.text_field :emails, id: 'emails', tabindex: "1" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="3">Close</button>
            <%= f.button 'Invite members', :class=> 'btn btn-primary', :tabindex => "2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="band_summary container">
      <p class="lead"><strong><%= @band.setlist.count %></strong> songs in the setlist.</p>
      <p class="lead">No upcoming concerts.</p>
      <p class="lead">No upcoming rehearsals.</p>
  </div>
</div>