<% content_for :custom_js do %>
  <script type="text/javascript">
    var fbAppId = '<%= ENV['SETLISTR_FB_APP_ID'] %>';
    var original_url = '<%= params["return"] %>';
  </script>
  <%= javascript_include_tag 'welcome.js' %>
<% end %>

<div class="container">
  <div class="page-header">
    <h1>Setlistr</h1>
  </div>
  <p class="lead">
    <%= t :landing_text %>
    <p><%= t :landing_login_text %></p>
    
    <p style="text-align:center">
      <a href="#" id="fb_login_btn" class="zocial facebook"><%= t :facebook_btn_text %></a>
    </p>
    <p style="text-align:center">
      <a href="/auth/spotify" id="spotify_login_btn" class="zocial spotify"><%= t :spotify_btn_text %></a>
    </p>
  </p>
</div>