<div id="dashboard" class="container" style="padding: 60px 15px 0">
  <div class="page-header">
    <h1 >Hi, <%= current_user.name %>!</h1>
  </div>
  
  <% if @contracts.empty? %>
    <p id="no_bands_msg" class="lead"> 
      You don't have any bands yet!
      <span style="text-align: right">
        <%= link_to "Add new band!", new_band_path, :id => "create_band_btn", :class => "btn btn-primary btn-large" %>
      </span>
    </p>
  <% else %>
    <p class="lead">
      Here is a list of your bands. You can also <%= link_to "add a new band!", new_band_path, :id => "create_band_btn" %>
    </p>
    <div id="band_list" class="row">
    <% @contracts.each do |contract| %>
      <% if contract.approved %>
        <%= link_to contract.band do %>
          <div class="col-md-3 band_button text-center">
            <div class="band_logo img_placeholder">
              <span class="img_placeholder_text">Setlistr</span>
            </div>
            <h3><%= contract.band.name %></h3>
            <p><%= Contract::INSTRUMENTS[contract.instrument] %></p>
          </div>
        <% end %>
      <% else %>
        <div class="col-md-3 band_button text-center pending_approval">
          <div class="band_logo img_placeholder">
            <span class="img_placeholder_text">Setlistr</span>
          </div>
          <h3><%= contract.band.name %></h3>
          <p><%= Contract::INSTRUMENTS[contract.instrument] %></p>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
