<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="page-header">Hi, <%= current_user.name %>!</h1>
      <p class="lead">
        Here is a list of all your concerts (<strong><%= current_user.all_concerts.size %></strong> total)
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% current_user.all_concerts.each do |concert| %>
        <%= link_to band_concert_path(concert.band, concert) do %>
          <strong><%= concert.date %></strong> - <%= concert.band.name %> - <%= concert.name %> at <%= concert.venue %>.<br/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>