<!DOCTYPE html>
<html>
<head>
  <title>Setlistr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% if content_for?(:custom_js) %>
    <%= yield(:custom_js) %>
  <% end %>  
</head>
<body>
<% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%=flash[:alert]%></div>
<% end %>

<%= yield %>

</body>
</html>
