

<% content_for :content do %>
<div class="container-fluid">
  <input type="hidden" id="band-id" value="<%=@band.id%>">
  <div class="row">
      <div class="col-sm-3 col-md-2 sidebar text-center">
          <%= link_to @band do %>
            <div class="row">
              <div class="col-sm-12">
                <%= render partial: 'band/logo', locals: { band: @band, size: '200' } %>
              </div>
            </div>
          <% end %>
          <ul class="nav nav-sidebar">
              <hr>
              <li id="nav_setlist"><%= link_to "Setlist", band_setlist_path(@band) %></li>
              <li id="nav_concerts"><%= link_to "Concerts", band_concerts_path(@band) %></li>
              <li id="nav_songs"><%= link_to "Songs", band_songs_path(@band) %></li>
<!--              <li id="nav_concerts"><%= link_to "Rehearsals", '#' %></li>
              <li id="nav_concerts"><%= link_to "Members", '#' %></li>
              <li id="nav_concerts"><%= link_to "Stats", '#' %></li>-->
              <hr>
              <li id="nav_band_details"><%= link_to "Edit Band Details", edit_band_path(@band) %></li>
          </ul>
      </div>
      
      <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">
          <%= yield %>
      </div>
  </div>
</div>
<% end %>
<% content_for :top_nav do %>
  <li class="visible-xs-block"><%= link_to "Setlist", band_setlist_path(@band) %></li>
  <li class="visible-xs-block"><%= link_to "Concerts", band_concerts_path(@band) %></li>
  <li class="visible-xs-block"><%= link_to "Edit Band Details", edit_band_path(@band) %></li>
  <li class="visible-xs-block"><%= link_to "Songs", band_songs_path(@band) %></li>
<% end %>
<%= render template: "layouts/application" %>